<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var rawData = [
          [1704067200, 12],
          [1704153600, 15],
          [1704240000, 14],
          [1704326400, 18],
          [1704412800, 20],
          [1704499200, 22],
          [1704585600, 19],
          [1704672000, 16],
          [1704758400, 14]
        ];

        var dataArray = [['Date', 'Température (°C)']];

        rawData.forEach(function(row) {
          dataArray.push([ new Date(row[0] * 1000), row[1] ]);
        });

        var data = google.visualization.arrayToDataTable(dataArray);

        var options = {
          title: 'Distribution des températures',
          legend: { position: 'none' },
          hAxis: {
            title: 'Température (°C)'
          },
          vAxis: {
            title: 'Nombre de jours'
          }
        };

        var chart = new google.visualization.Histogram(
          document.getElementById('chart_div')
        );

        chart.draw(data, options);
      }
    </script>
  </head>

  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>
